.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.radioButtonsWrapper {
  display: flex;
  justify-content: stretch;
  gap: 2rem;
}

.optionsTitle {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-bottom: 1rem;
}